/*******************************************/
/*Basic Setup*/
/*******************************************/
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #302e2c;
    color           : #fefefe;
    font-family     : 'Quicksand', 'Arial', sans-serif;
    font-weight     : 500;
    font-size       : 16px;
    text-rendering  : optimizeLegibility;
    overflow-x      : hidden;
    max-height      : 200vh;
    width           : 100%;
    z-index         : 1;
}

section {
    margin-bottom: 20px;
}

.chef-body {
    background-image   : url("./img/chef-machine-bg.png");
    background-size    : cover;
    background-position: center;
    width              : 70%;
    height             : 200vh;
    margin             : 0 auto;
}

.machine-body {
    background-color: #76564b;
    width           : 70%;
    height          : 50%;
    border-radius   : 70px;
    position        : absolute;
    top             : 50%;
    text-align      : center;
    margin-bottom   : 0;
}

.wrapper {
    display       : inline-block;
    width         : 100%;
    height        : auto;
    display       : flex;
    flex-direction: column;
}

/* * * * * * * * * * BUTTON and INPUT* * * * * * * * * */

.btn,
.btn:active,
.btn.focus {
    background    : #ec2644;
    color         : #FFF;
    width         : 20%;
    height        : 30px;
    padding       : 3px 0px 0px 0px;
    font-size     : 100%;
    font-weight   : 700;
    letter-spacing: 2px;
    align-self    : center;
    outline       : none;
    border        : 2px solid #ec2644;
}

.btn:hover {
    background: transparent;
    color     : #302e3c;
    border    : 2px solid #302e3c;
    cursor:pointer;
}

input,
input:active {
    color       : #DADDDD;
    height      : 30px;
    width       : 38%;
    outline     : none;
    font-size   : 20px;
    padding-left: 10px;
}

input:focus {
    color: black;
}

/* * * * * * * * * * INSTRUCTIONS SECTION * * * * * * * * * */
#instruction-section {
    width         : 80%;
    display       : flex;
    flex-direction: column;
    margin        : 0 auto;
    padding       : 2% 5%;
}

.f-right {
    float  : right;
    padding: 0px;
}

.f-left {
    float  : left;
    padding: 0px;
}

h3 {
    margin-top   : 0px;
    margin-bottom: 10px;
}

p {
    text-align   : justify;
    padding-left : 5px;
    padding-right: 5px;
    line-height  : 25px;
    margin-top   : 0px;
}

/* * * * * * * * * * BET SECTION * * * * * * * * * */

#bet-section {
    padding-bottom: 0;
}

/* * * * * * * * * * SPINNER SECTION * * * * * * * * * */

#spinner-section {
    padding         : 0px 15px 0px 15px;
    margin          : 0 auto 10px auto;
    width           : 60%;
    height          : 300px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-evenly;
    align-items     : center;
    background-color: #def2f1;
    border          : 3px double #ee3253;
    border-radius   : 20px;
}

.roller {
    width           : 30%;
    height          : 250px;
    border          : 5px double #ee3253;
    background-color: #def2f1;
    border-radius   : 20px;
}

/* * * * * * * * * * TOKEN SCORE BAR * * * * * * * * * */

#token-section {
    padding        : 0px 15px 0px 15px;
    margin         : 0 auto;
    width          : 500px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    border-style   : 6px double;
}

/* * * * * * * * * * KENNY FLY AND SKY * * * * * * * * * */
.scene {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.scene i {
    position  : absolute;
    top       : -250px;
    background: rgb(255, 255, 255, 0.5);
    animation : animateStars linear infinite;
}

@keyframes animateStars {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(200vh);
    }
}

.scene .kenny {
    position      : absolute;
    pointer-events: none;
    animation     : animate 0.2s ease infinite;
    transition    : 0.1s;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-52px) translateX(-50%);
    }

    50% {
        transform: translateY(-48px) translateX(-50%);
    }
}

.scene .kenny::before {
    content   : "";
    position  : absolute;
    bottom    : -100px;
    left      : 50%;
    transform : translateX(-50%);
    width     : 10px;
    height    : 100px;
    background: linear-gradient(#00d0ff, transparent);
    filter    : blur(2px);
}

.scene .kenny::after {
    content   : "";
    position  : absolute;
    bottom    : -150px;
    left      : 50%;
    transform : translateX(-50%);
    width     : 10px;
    height    : 150px;
    background: linear-gradient(#00d0ff, transparent);
    filter    : blur(20px);
}

.scene:active .kenny::before,
.scene:active .kenny::after {
    background: linear-gradient(#ff12d7, transparent);
    bottom    : -150px;
    height    : 150px;
    filter    : blur(2px);
}